<!-- grid -->
<div id="tisso-vison-app"
     data-collection-handle="{{ section.settings.collection }}"
     data-section-id="{{ section.id }}">
  <h2 class="tisso-title">{{ section.settings.section_title }}</h2>
  <div class="product-grid" id="product-grid"></div>
</div>

<!-- card -->
<div class="product-details" id="product-card">
  <div class="card">
    <span class="close">&times;</span>
    <div class="card-body"></div>
  </div>
</div>

<!-- overlay -->
<div class="overlay-bg"></div

{% schema %}
{
  "name": "Grid section",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Tisso vison in the wild"
    },
    {
      "type":"collection",
      "id":"collection",
      "label":"collection"
    }
  ],
  "presets": [
    {
      "name": "Grid section"
    }
  ]
}
{% endschema %}