<div class="custom-top-bar">
  <div class="top-row">
    <div class="top-logo">{{ section.settings.logo_text }}</div>
    <div class="top-subtitle">{{ section.settings.subtitle }}</div>
    <div class="top-button">
      <a href="{{ section.settings.button_link }}" class="button-top">
      {{ section.settings.button_text }}
       <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="top-svg-icon">
          <path d="M5 12H19M19 12L12 19M19 12L12 5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": " Top Bar",
  "settings": [
    {
      "type": "text",
      "id": "logo_text",
      "label": "Logo Text",
      "default": "TISSO VISON"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Find the ideal gift for your loved ones."
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "CHOOSE GIFT →"
    }
  ],
  "presets": [
    {
      "name": " Top Bar"
    }
  ]
}
{% endschema %}