/* === HERO SECTION === */
.hero-gift-guide {
  width: 100%;
  position: relative;
}

  /* === TOP IMAGE ===*/
  .hero-top-image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 0;
  }

  .hero-bg-img{
    width: 100%;
    height:100%;
    object-fit: cover;
  }

  /* === HERO CONTENT SECTION === */
  .hero-content-section{
    display: flex;
    padding: 0;
    gap: 10px;
    padding-top: 50px;
    margin-left: 30px;
    flex-wrap: wrap;
  }
.hero-content {
  flex: 1;
  max-width: 500px;
  margin-left: 20px;
  color: black;
  margin-top: -10px;
  text-align: left;
}

.hero-title {
  font-size:xx-large;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: left;
}
.hero-subtitle {
  font-size:medium;
  line-height: 1.5;
  margin-bottom:20px;
  text-align: left;
}
.desktop-subtitle,
.mobile-subtitle {
  display: inline;
}
.hero-button {
  display: inline-block;
  border: none;
  font-size: 1rem;
  border-radius: 4px;
  position: relative;
  color: white;
  padding: 12px 24px;
  transition: all 0.3s;
  background: linear-gradient(to left, #000 50%, #FFD700 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: background-position 1s ease-in-out;
  text-decoration: none;
  margin: 0 auto;
}
.hero-button:hover {
  background-position: left;
  color: black;
  transform: translateY(-2px);
}

.svg-icon {
  stroke: white;
  fill: none;
  margin-left: 6px;
  vertical-align: middle;
  transition: stroke 0.3s ease;
}

.svg-icon:hover {
  stroke: black;
}

  /* === RIGHT IMAGE === */
.hero-right-image{
  flex: 1;
  max-width: 100%;
  width:100%;
  margin-right: 20px;
  overflow: hidden;
  margin-top: -10px
}
.right-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

  /* === TOP ROW === */
.custom-top-bar {
    width: 100%;
    background: #f8f7f7;
    padding: 10px 0;
    position:relative;
  }
  /* === desktop row === */
  .top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Helvetica Neue', sans-serif;
  }
  
  .top-logo {
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
    text-transform: uppercase;
  }
  
  .top-subtitle {
    font-size: 1rem;
    color: black;
    text-align: center;
  }
  
  .button-top {
    background: linear-gradient(to left, #FFD700 50%, #000 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 1s ease-in-out;
    color: black;
    border: none;
    padding: 8px 16px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 500;
  }
  
  .button-top:hover {
    background-position: left;
    color: white;
    transform: translateY(-2px);
  }
  
  .top-svg-icon {
    stroke: black;
    fill: none;
    margin-left: 6px;
    vertical-align: middle;
    transition: stroke 0.3s ease;
  }
  
  .top-svg-icon:hover {
    stroke: white;
  }

  /* === mmobile menu === */
  .mobile-menu-toggle{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 32px;
    height: 32px;
    color: black;
  }
  .menu-icon{
    width: 24px;
    height: 24px;
  }
  .mobile-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border-top: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    padding: 20px;
    text-align: center;
    z-index: 10;
    border-radius: 0;
  }
  .mobile-dropdown .top-logo {
    font-size: 1.2rem;
  color: black;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  }
  
  .mobile-dropdown .top-subtitle {
    font-size: 1rem;
    color: black;
    margin-bottom: 20px;
  }
  
  .mobile-dropdown .button-top {
    display: inline-block;
    background: linear-gradient(to left, #FFD700 50%, #000 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 1s ease-in-out;
    color: black;
    border: none;
    padding: 8px 16px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 500;
  }
  
  .mobile-dropdown .button-top:hover {
    background-position: left;
    color: white;
    transform: translateY(-2px);
  }
  
  
  /* === FOOTER TEXT === */
  .custom-footer {
    width: 100%;
    background: #f8f7f7;
    padding: 10px 0;
  }
  .hero-footer-text {
    font-size: 1rem;
    color: black;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica Neue', sans-serif;
  }

  /* === GRID SECTION === */
  #tisso-vison-app{
    max-width:1200px;
    margin:60px auto;
    padding: 0 20px;
  }
  .tisso-title{
    font-size: 2rem;
    text-align: left;
    margin-bottom: 33px;
    color: black;
  }
  .product-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:20px;
  }
  .product-item{
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  .product-item:hover{
    transform: scale(1.02);
  }
  .product-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .quick-view-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: white;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    z-index: 5;
  }

  /* === OVERLAY === */
  .overlay-bg{
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
    background-color: rgba(178, 178, 178, 0.2);
  }
  .product-details{
    position: fixed;
    top: 20%;
    left: 50%;
    width: 300px;
    height: 450px;
    background-color: white;
    color: #000;
    z-index: 10;
    display: none;
    transform: translateX(-50%);
  }
  /* === CARD === */
  .card{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: 10px;
   height: calc(100%-20px);
  }
  .card-content{
    background: white;
    width: 100%;
    max-width: 390px; 
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 30px;
    box-sizing: border-box;
  }
 .close{
    position: absolute; 
    top: 12px; 
    right: 12px; 
    cursor: pointer;
    width: 20px; 
    height: 20px;
    color: #888;
    font-size: 24px;
 }
 .close:hover {
  color: #000;
}

   /* === TOP CARD === */
.top-card{
  height: 160px;
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  padding-top:12px
}
.top-card img{
  width: 45%;
  height: 90%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.top-right{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  gap: 6px;
  height: 100%;
  flex: 1;
  padding-left: 5px;
  margin-bottom: 5px;
}
.product-title{
  font-weight: 400;
  font-size: 12px;
  margin: 0;
}
.product-price{
  font-weight: 600;
  margin: 0;
  font-size: 12px;
}
.top-right p{
  font-weight: 300;
  font-size: 10px;
  margin: 0;
}

  /* ===  MIDDLE CARD === */
.middle-card .colors{
  padding: 10px 0 5px;
  font-weight: 400;
  font-size: 1.3rem;
  color: #333;
}
.middle-card .color-btns{
  display: flex;
  justify-content:left;
  gap: 0px;
  margin-bottom: 10px;
}
.middle-card .color-btns button{
  padding: 8px 16px;
  height: 40px;
  width: 144px;
  background-color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
  border-top: 1px solid #ddd; 
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  border-left-width: 7px;
  transition: all 0.2s ease;
  text-align: center;
}
.middle-card .color-btns button:hover {
  border-color: #aaa; 
}

.middle-card .color-btns button.active {
  color: white;
  background-color: #000;
  border-color: #000;
}
.middle-card .sizes{
  padding: 5px 0 0 ;
  font-weight: 600;
  font-size: 1.1rem;
  color: black;
}
.sizes-dropdown {
  width: 100%;
  height: 30px;
  position: relative;
  user-select: none;
  border: 1px solid #ddd; 
}

.selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd; 
  background-color: transparent !important; 
  padding: 10px 12px; 
  cursor: pointer;
}

.placeholder {
  flex: 1;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
  color: black;
  border-right: 1px solid #ddd;
  padding-right: 15px;
}

.selected .dropdown-arrow-icon {
  color: black;
  font-size: 1.2rem;
  transition: transform 0.2s ease; 
  font-weight: 200;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid black;
  border-top: none;
  background-color: white;
  max-height: 120px; 
  overflow-y: auto;
  display: none;
  z-index: 10;
  list-style: none; 
  padding: 0;
  margin: 0;
}

.dropdown-options li {
  padding: 10px 12px;
  cursor: pointer;
  font-size: 1.1rem; 
  color: black;
  transition: all 0.2s ease;
  text-align: center;
}

.dropdown-options li:hover {
  font-weight: bold;
}


.dropdown-options li.disabled {
  cursor: not-allowed;
  text-decoration: line-through;
  font-weight: 400;
}

.sizes-dropdown.open .dropdown-options {
  display: block;
}

  /* === BOTTOM CARD=== */
.bottom-card{
  margin-top: 20px;
}
.bottom-card button{
    width: 100%;
    height: 35px;
    font-weight: 400;
    font-size: 14px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 30px;
  }
  .cart-svg-icon{
    margin-left: 8px;
    vertical-align: middle;
  }
  /* === RESPONSIVE === */
  @media (max-width: 768px) {
    .hero-top-image {
      display: none;
    }
    .hero-content-section{
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
    }
    .hero-content{
      margin-left: 0;
      max-width: 100%;
      text-align: center;
    }
    .hero-right-image{
      max-width:100%;
      height: 100%;
      margin-right: 0;
      margin-left: 0;
      order: 2;
      object-fit: cover;
    }
    .right-img{
      height: 300px;
    }
    .hero-title {
      font-size: 2.2rem;
      text-align: center;
    }
    .desktop-subtitle {
      display: none;
    }
    .hero-subtitle {
      font-size: 1rem;
      text-align: center;
    }
    .hero-button {
      position: absolute;
      top: 70%; 
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
    }
    .top-row {
        display: none;
      }
    .mobile-menu-toggle{
      display: block;
    }
    .mobile-dropdown{
      display: none;
    }
    .mobile-menu-toggle.active + .mobile-dropdown{
      display: block;
    }
      .button-top {
        width: 100%;
        text-align: center;
      }
    #tisso-vision-app{
      margin: 40px auto;
    }
    .tisso-title{
      text-align: center;
      font-size: 1.8rem;
      margin-bottom: 25px;
    }
    .product-grid{
      grid-template-columns: 1fr 1fr;
      gap: 15px;
    }
    .product-item img{
      aspect-ratio: 1/1;
    }
    }

  @media (min-width: 769px) {
      .mobile-subtitle {
        display: none;
      }
    }